[global]
ioengine=libaio
#omit guest cache and fsync
fsync=0
direct=1
#randomness
rw=read
bs={{bs_wp3}}
#time config
ramp_time={{ ramp_secs }}
time_based=1
runtime={{ runtime_secs }}
#test file size
size={{ test_file_size }}
#output format
group_reporting

{% for j in jobs -%}
[{{ jobs[j].name }}]
filename={{ jobs[j].file }}
iodepth={{ jobs[j].io_depth}}
zonemode={{ jobs[j].zonemode }}
zonesize={{ jobs[j].zone_size_bytes }}
zonerange={{ jobs[j].zone_range_bytes }}
zoneskip={{ jobs[j].zone_skip_bytes }}
{% endfor %}