[global]
ioengine=libaio
#omit guest cache and fsync
fsync=0
direct=1
#randomness
rw=randread
bs={{bs_wp2}}
#time config
ramp_time={{ ramp_secs }}
time_based=1
runtime={{ runtime_secs }}
#test file size
size={{ test_file_size }}
#output format
group_reporting

{% for j in jobs -%}
[{{ j.name }}]
filename={{ j.file }}
iodepth={{ j.io_depth}}
zonemode={{ j.zonemode }}
zonesize={{ j.zone_size_bytes }}
zonerange={{ j.zone_range_bytes }}
zoneskip={{ j.zone_skip_bytes }}
{% endfor %}